body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

#root {
  width: 100%;
}

header {
  align-items: center;
  background-color: #28a745;
  display: grid;
  grid-template-columns: 9fr auto 1fr;
}

.displayUsername {
  background-color: white;
  margin-right: 2rem;
  padding: 4px 20px;
  border-radius: 2px;
}

/* LOGIN */

.loginComponent {
  max-width: fit-content;
  margin: 0 auto;
}

.loginForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
  padding: 2rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #e5e5e5;
  box-shadow: 0 0.25rem 1.125rem 0.1875rem #0000000f,
    0 0.625rem 0.875rem 0.0625rem #00000014,
    0 0.375rem 0.375rem -0.1875rem #00000024;
}

.loginForm > div {
  margin-bottom: 2rem;
}

h1 {
  color: #333;
  text-align: center;
}

.loginForm input[type='text'],
input[type='password'] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.loginButton {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: #28a745;
}

.logoutButton {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-right: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* NAV */
nav {
  width: fit-content;
  margin: 0 auto;
}

nav > ul > li {
  margin: 2rem;
}

nav > ul > li > a {
  font-weight: bold;
}

/* ORDERS */
.itemForm,
.orderForm {
  display: flex;
  flex-flow: column;
  gap: 0.2rem;
}

.item {
  display: flex;
  flex-flow: row-nowrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.orderForm {
}

/* THE REST */
a {
  font-size: larger;
}

main {
  background-color: #fff;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: column;
}
/* 
li {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li input[type='checkbox'] {
  margin-right: 10px;
}

li p {
  margin: auto;
}

li button {
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}

li button:hover {
  background-color: #c82333;
} */
